<div class="yes">
    <h3 >Felhasználó regisztráció</h3>

    <p-floatlabel variant="on">
      <input pInputText id="on_label" [(ngModel)]="user.name"  autocomplete="off" />
      <label for="on_label">Felhasználónév</label>
  </p-floatlabel>
  <br>
    <p-floatlabel variant="on">
      <input pInputText id="on_label" [(ngModel)]="user.email"  autocomplete="off" />
      <label for="on_label">E-mail</label>
  </p-floatlabel>
  <br>
  <p-floatlabel variant="on">
    <input pInputText id="on_label" [(ngModel)]="user.password"  autocomplete="off" type="password"/>
    <label for="on_label">Jelszó</label>
  </p-floatlabel>
  <br>
  <p-floatlabel variant="on">
    <input pInputText id="on_label" [(ngModel)]="user.confirm"  autocomplete="off" type="password"/>
    <label for="on_label">Jelszó megerősítése</label>
  </p-floatlabel>
  <br>

<p-button (click)="registration()" label="Regisztráció" />
<app-alert></app-alert>

  </div>
  