@import "primeicons/primeicons.css";


.alert{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 300px;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13rem ;
}

.login-card {
    background-color: darkslategray;
    padding: 2.5rem;
    border-radius: 18px;
    width: 100%;
    max-width: 350px;
    border: solid 2px lightgray;

}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.p-float-label input {
    width: 100%;
}

.login-title {
    text-align: center;
    color: lightgray;
    font-size: 1.75rem;
    font-weight: bold;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
  

}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

