<h1>Előfizetés</h1>
<h3>Kedves felhasználó!</h3>
<p>Az ön rendelését sikeresen feldolgoztuk! Az alábbi adatokkal képes belépni a fiókjába, ahol adatait kezelni tudja:</p>
<p>Domain: <a href="<%= content.domain %>"><%= content.domain %></a></p>
<p>Felhasználónév: <%= content.username %></p>
<p>Jelszó: <%= content.password %></p>
<p>Megkérjük, hogy biztonsági okokból és az ön érdekében <strong>soha senkivel se ossza meg ezeket az adatokat!</strong></p>
<p>Ha bármi kérdése van, ne tegye fel, mert nem fogunk tudni válaszolni xdxjyfkdastjlhatweltvjejtvlawevtjlawejtév</p>
<h6>Üdvözlettel: A csapat</h6>