<div class="login-container">
    <div class="login-card">
        <h3 class="login-title">Belépés</h3>
        
        <div class="login-form">
            <p-floatlabel>
                <input pInputText id="username" [(ngModel)]="user.name" autocomplete="off" />
                <label for="username">Felhasználónév</label>
            </p-floatlabel>

            <p-floatlabel>
                <input pInputText id="password" [(ngModel)]="user.password" 
                       autocomplete="off" type="password"/>
                <label for="password">Jelszó</label>
            </p-floatlabel>

            <p-button (click)="login()" label="Belépés" styleClass="w-full" />
        </div>
    </div>
</div>